
.LoginForm {
  text-align: center;
  padding: 40px 20px;

  .Logo_Login {
    width: 120px;
    height: 108px;
    object-fit: contain;
    display: inline-block;
    margin-bottom: 24px;
  }

  .Rectangle-18 {
    width: 360px;
    height: 490px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
    padding: 40px 32px;
    display: inline-block;

    input {
      font-size: 13px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.2px;
      color: #4a4a4a;
      padding-left: 12px;

    }

    input::placeholder {
      font-size: 13px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.2px;
      color: #9b9b9b;
    }

    input:focus {
      border: solid 1px #ff6032;
      outline: none;
    }
  }

  .Button_FacebookLogin {
    width: 296px;
    height: 48px;
    object-fit: contain;
  }

  .Button_GoogleLogin {
    width: 296px;
    height: 48px;
    object-fit: contain;
    margin-top: 8px;
  }
  .inLine {
    display: inline-flex;
  }

  .Line-2 {
    width: 126px;
    height: 2px;
    border: solid 1px #bdbdbd;
    margin-top: 32px;
  }

  .layer {
    width: 24px;
    height: 19px;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: center;
    color: #4a4a4a;
    margin: 26px 8px 22px 8px;
  }

  .Rectangle-19 {
    width: 296px;
    height: 48px;
    border-radius: 4px;
    border: solid 1px #e6e6e6;
    margin-bottom: 8px;
  }

  .Rectangle-19-Copy {
    width: 296px;
    height: 48px;
    border-radius: 4px;
    border: solid 1px #e6e6e6;
  }

  .inLine-icCheck {
    margin-top: 41px;
    float: left;

    input[type='checkbox'] {
      display: none;
    }

    input[type='checkbox'] + label::before { /* 가짜 체크박스 만들기 */
      content: ' ';
      display: inline-block;
      width: 14px;
      height: 14px;
      object-fit: contain;
      vertical-align: middle;
      background: url('./img/ic-un-check@3x.png');
      background-size: contain !important;
      margin: -2px 9px 0px 0px;
    }

    input[type='checkbox']:checked + label::before {
      background: url('./img/ic-check@3x.png');
    }

    label {
      height: 19px;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.2px;
      color: #4a4a4a;
    }
  }

  .Button_Login {
    width: 304px;
    height: 48px;
    object-fit: contain;
    margin-top: 22px;
  }

  .TOAST- {
    width: 115px;
    height: 19px;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: center;
    color: #ff6032;

  }

  .Register-Link {
    margin-top: 30px;
    display: inline-block;
    text-decoration: none;

    a {
      text-decoration: none;
    }
    .desc {
      font-size: 13px;
    }

  }

}

