.content {
  background-color: #EEEEEE;
  width: calc(100% - 88px);
  height: calc(100% - 64px);
  position: absolute;
  top: 64px;
  left: 88px;
  z-index: -1;
  padding: 15px 20px;
}
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 64px;
  background-color: white;
  border-bottom: 1px solid #979797;
}

.sidebar {
  background-color: #FF7A2F;
  width: 88px;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}
