.content {
  background-color: white;
  overflow-y: scroll;
  overflow-x: hidden;
  width: calc(100% - 88px);
  height: calc(100% - 64px);
  position: absolute;
  top: 64px;
  left: 88px;
  z-index: -1;


}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 64px;
  background-color: #ffffff;
  box-shadow: 0 2px 5px 1px #e6e6e6;
}

.sidebar {
  width: 88px;
  background-image: linear-gradient(to top, #ff7a2f, #ff6032);
  box-shadow: 1px 2px 4px 0 #ff6032;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.Container {
}

button {
  border: none;
  padding: 0px;
  background-color: unset;
  cursor: pointer;
}

button:focus{
  outline: none;
}