.StudyCatogory {

  padding: 0px 10%;

  .title {
    width: 470px;
    height: 59px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 40px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.6px;
    color: #212121;

    margin-top: 80px;

  }

  .list-title {
    width: 152px;
    height: 24px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #888888;
    margin: 40px 0px 24px;
  }

}

.category-list {
  display: inline-block;
  list-style: none;
  padding: 0px;
  margin: 0px;

  >li {
    display: inline-block;
    float: left;

    a {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;

    }
  }
  .category-card {
    width: 280px;
    height: 240px;
    border-radius: 8px;
    background-image: linear-gradient(46deg, #ff7a2f, #ff6032);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    display: table;
    position: relative;
    margin: 0px 16px 16px 0px;
    z-index: 1;
    .category-title {
      font-size: 34px;
      font-weight: 300;
      letter-spacing: -0.5px;
      text-align: center;
      color: #ffffff;
      display: table-cell;
      vertical-align: middle;
    }
    .category-title-parent {
      text-align: center;
      position: absolute;
      top: 64px;
      left: 112px;
      >p {
        line-height: 24px;
        margin: 0px;
        width: 56px;
        height: 24px;
        border-radius: 16px;
        background-color: #fcb62f;
        font-size: 11px;
        font-weight: 500;
        letter-spacing: -0.2px;
        text-align: center;
        color: #ffffff;
      }
    }
    .Logo-Card {
      left: 85px;
      width: 109px;
      height: 123px;
      position: absolute;
      top: 59px;
      z-index: -1;

    }
  }

  .category-card:hover {
    width: 280px;
    height: 240px;
    opacity: 0.7;
    border-radius: 8px;
    background-color: #ff6032;
    z-index: 1;
  }
}