.Header {
  text-align: center;
  padding-left: 88px;
  .logo {
    display: inline-block;
    padding: 20px 0px 13px 0px;
    .Logo_Nav {
      width: 106px;
      height: 31px;
      object-fit: contain;
    }
  }

  .login-btn {
    display: inline-block;
    float: right;
  }

  .Button_Login {
    margin: 12px 24px 12px 0px;
    width: 120px;
    height: 40px;
  }

  #login-info {
    height: 64px;
    position: absolute;
    top: 0;
    right: 64px;
    line-height: 64px;

    a {
      display: inline-block;
      height: 64px;
      color: #5a5a5a;
      text-decoration: none
    }
  }

  #top-nickname {
    display: inline-block;
    height: 64px;
    margin-right: 10px
  }

}

