.Feedback {
  display: inline-flex;
  .study-history {
    text-align: center;
    width: 217px;
    height: 100%;
    float: left;

    .title {
      text-align: center;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: -0.2px;
      color: #888888;
      padding: 72px 0px 19px 0px;
      border-bottom: 1px solid #d8d8d8;

    }
    .study-date {
      > ul {
        list-style: none;
        margin: 0px;
        text-align: center;

        padding: 0px;
        > li {
          width: 217px;
          height: 24px;
          border-radius: 4px;
          background-color: #ffffff;
          border-bottom: 1px solid #d8d8d8;
        }
        .list-box {
          font-size: 16px;
          font-weight: 500;
          line-height: 1.5;
          letter-spacing: -0.2px;
          color: #757575;
          padding: 25px 0px;
          cursor: pointer;
          > a {
            width: 217px;
            height: 24px;
          }
        }
      }

    }
  }
  .study-feedback {
    background-color: #eeeeee;
    float: right;
    width: calc(100% - 217px);
    padding: 58px 69px;
    .top-box {
      padding-top: 26px;
      width: 988px;
      height: 70px;
      border-radius: 8px;
      box-shadow: 0 2px 3px 0 #ff6032;
      background-image: linear-gradient(278deg, #ff7a2f, #ff6032);

      .feedback-date {
        display: inline-flex;
        font-size: 28px;
        font-weight: bold;
        letter-spacing: -0.4px;
        color: #ffffff;
        padding-left: 40px;
      }
      .feedback-title {
        display: inline-flex;
        font-size: 28px;
        font-weight: 500;
        letter-spacing: -0.4px;
        color: #ffffff;
        padding-left: 19px;

      }
      .ic_Home_Character {
        width: 56px;
        height: 56px;
        object-fit: contain;
        float: right;
        padding-right: 40px;
        margin-top: -6px;
      }
    }
    .feedback-content {
      display: inline-flex;

      .box {
        margin-top: 40px;
        display: inline-block;
        margin-right: 28px;
        .box-content {
          border-radius: 8px;
          box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
          background-color: #ffffff;
        }
        .box-title {
          margin: 0px 0px 6px 0px;
          font-size: 16px;
          font-weight: 500;
          letter-spacing: -0.2px;
          color: #888888;
        }
      }

      .box-1 {
        width: 422px;
        .box-content {
          overflow-y: scroll;
          height: 562px;
          padding: 17px 34px 17px 50px;
          font-size: 20px;
          line-height: 2.95;
          letter-spacing: -0.2px;
          color: #212121;
        }
      }
      .box-2 {
        width: 387px;

        .box-content {
          height: 249.1px;
          margin-bottom: 33px;
          padding: 18.6px 32px;
          overflow-y: scroll;
        }
        .recommend-sentence-list, .missed-pronunciation-list {
          list-style: none;
          padding: 0px;
          margin: 0px;
        }

        .recommend-sentence {
          padding: 0px;
          margin: 0px 0px 23px 0px;
          > p {
            margin: 0px;
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: -0.2px;
            color: #212121;

          }
        }
        .missed-pronunciation-list {
          display: inline-block;
          .missed-pronunciation {
            padding: 0px 18px;
            margin-right: 12px;
            margin-bottom: 16px;
            border: 1px solid #ff6032;
            height: 38px;
            border-radius: 20px;
            display: inline-block;
            > p {
              display: inline-block;
              margin: 0px;
              font-size: 18px;
              letter-spacing: -0.5px;
              line-height: 38px;
              color: #000000;


            }
            .btn-sound {
              position: relative;
              top: 2px;
              width: 15px;
              height: 15px;
              display: inline-block;
              margin-left: 8px;

            }
          }

        }

      }
      .box-3 {
        width: 123px;
        .box-content {
          height: 562px;

          .score {
            text-align: center;
            padding-top: 21px;
            p {
              margin: 0px;
              font-size: 16px;
              font-weight: 500;
              letter-spacing: -0.2px;
              text-align: center;
              color: #888888;
            }
            .score-box {
              padding-top: 32px;

              display: inline-block;
              width: 87px;
              height: 55px;
              border-radius: 7px;
              font-size: 14px;
              font-weight: bold;
              letter-spacing: -0.2px;
              text-align: center;
              color: #ffffff;

            }
            .score-box-Excellent {
              background-color: #E74C3C;
            }
            .score-box-Great {
              background-color: #3498DB;
            }
            .score-box-Good {
              background-color: #27AE60;
            }
            .score-box-Intermediate {
              background-color: #ffb219;

            }
            .score-box-Bad {
              background-color: #9b9b9b;
            }
          }
        }
      }
      .feedbackResult {
        list-style: none;
        margin: 0px;
        padding: 0px;

        .feedback-sentence {
          margin: 0px;
          padding: 0px;
          position: relative;
          > p {
            display: inline-block;
            margin: 0px;
            padding: 0px 15px 0px 0px;
            font-size: 20px;
            line-height: 2.95;
            letter-spacing: -0.2px;
            color: #212121;
          }

          .feedback-idx {
            position: absolute;
            left: -30px;
          }
          .bad-word {
            font-weight: bold;
            text-decoration: line-through;
          }
          .bad-word-grammar:before {
            text-decoration: none;
            content: "문법";
            font-size: 9px;
            width: 30px;
            font-weight: 500;
            letter-spacing: -0.1px;
            text-align: center;
            color: #ffffff;
            background-color: #4a90e2;
            position: absolute;
            height: 13px;
            border-radius: 16px;
            top: 5px;
            line-height: 13px;
          }
          .bad-word-spelling:before {
            text-decoration: none;
            content: "단어";
            font-size: 9px;
            width: 30px;
            font-weight: 500;
            letter-spacing: -0.1px;
            text-align: center;
            color: #ffffff;
            position: absolute;
            height: 13px;
            border-radius: 16px;
            top: 5px;
            line-height: 13px;
            background-color: #ff802f;
          }
          .better-word-grammar {
            font-weight: bold;
            color: #4a90e2;

          }
          .better-word-spelling {
            font-weight: bold;
            color: #ff802f;
          }
          .better-word {

          }
        }

      }
    }

  }

}
