.Sidebar {
  .menu-list {
    list-style: none;
    padding: 0px;
    margin: 16px 0px 0px 0px;
    >li {
      color: white;
      font-size: 15px;
      text-align: center;
      padding: 0px 0px 37px 0px;
      >a {
        color: white;
      }
    }
    .Fill-2 {
      width: 21.7px;
      height: 3.3px;
      background-color: #ffffff;
    }

    .ic_Manu_W {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }

    .ic_Home {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }


    .ic_Study {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }


    .ic_LevelTest {
      width: 40px;
      height: 40px;
      object-fit: contain;
    }

    .menu-font {
      height: 18px;
      font-size: 12px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.2px;
      text-align: center;
      color: #ffffff;
      display: inline-block;

    }

    .active {
      color: #ffea00;
    }

  }

  .bar {
    width: 8px;
    height: 60px;
    background-color: #ffea00;
    position: absolute;
  }
  .bar-home {
    top: 96px;
  }
  .bar-study {
    top: 198px;
  }
  .bar-leveltest {
    top: 300px;
  }
  .bar-feedback {
    top: 402px;
  }
  .bar-none {
    display: none;
  }
}
