.RegisterForm {
  text-align: center;
  padding: 40px 20px;

  .Logo_Login {
    width: 120px;
    height: 108px;
    object-fit: contain;
    display: inline-block;
    margin-bottom: 24px;
  }

  .Rectangle-18 {
    width: 320px;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.2);
    padding: 40px 32px;
    display: inline-block;
  }

  .Rectangle-19 {
    width: 296px;
    height: 48px;
    border-radius: 4px;
    border: solid 1px #e6e6e6;
    line-height: 48px
  }

  .Rectangle-19-confirm {
    margin-top: 8px;
  }

  .inLine {
    display: inline-flex;
  }

  .Line-2 {
    width: 126px;
    height: 2px;
    border-bottom: solid 1px #bdbdbd;
    margin-top: 30px;
  }

  .layer {
    width: 24px;
    height: 19px;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: center;
    color: #4a4a4a;
    margin: 26px 8px 23px 8px;
  }

  .input-group {
    margin-bottom: 32px;
    display: inline-block;


    input {
      font-size: 13px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.2px;
      color: #4a4a4a;
      padding-left: 12px;

    }

    input::placeholder {
      font-size: 13px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: -0.2px;
      color: #9b9b9b;
    }

    input:focus {
      border: solid 1px #ff6032;
      outline: none;
    }
  }

  .type {
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #4a4a4a;
    text-align: left;
    margin-bottom: 8px;

  }

  .input-group-email {
    margin-bottom: 14px !important;
    .inLine-icCheck {
      margin-top: 7px ;
      float: right;
      display: inline-block;

      input[type='checkbox'] {
        display: none;
      }

      input[type='checkbox'] + label::before { /* 가짜 체크박스 만들기 */
        content: ' ';
        display: inline-block;
        width: 14px;
        height: 14px;
        object-fit: contain;
        vertical-align: middle;
        background: url('../loginForm/img/ic-un-check@3x.png');
        background-size: contain !important;
        margin: -2px 9px 0px 0px;
      }

      input[type='checkbox']:checked + label::before {
        background: url('../loginForm/img/ic-check@3x.png');
      }

      label {
        height: 19px;
        font-size: 13px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: -0.2px;
        color: #4a4a4a;

        margin-left: 8px;
      }
    }

  }

  .Button_Signup {
    width: 304px;
    height: 48px;
    object-fit: contain;
    margin-top: 8px;

  }
  .Button_FacebookSignup {
    width: 296px;
    height: 48px;
    object-fit: contain;
  }
  .Button_GoogleSignup {
    width: 296px;
    height: 48px;
    object-fit: contain;
    margin-top: 8px;
  }

  .Button_Gender {
    display: inline-flex;

    > button {
      width: 149px;
      height: 48px;
      object-fit: contain;
      border: solid 1px #e6e6e6;

      font-size: 13px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.2px;
      color: #9b9b9b;
    }

    .Button_Woman {
      border-radius: 4px 0px 0px 4px;
      border-right: 0px;
    }
    .Button_Man {
      border-radius: 0px 4px 4px 0px;
    }

    .active {
      background-color: #ff6032;
      color: white;
      border: solid 1px #ff6032;

    }

  }

  .TOAST- {
    width: 115px;
    height: 19px;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: center;
    color: #ff6032;

  }

  .Login-Link {
    margin-top: 30px;
    display: inline-block;
    a {
      text-decoration: none;
    }
    .desc {
      font-size: 13px;
    }
  }
}